.toolbar {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
  align-items: center;
  min-height: 45px;
  height: 45px;
  padding: 0 20px 0 20px;
}

#components-dropdown-demo-placement .ant-btn {
  margin-right: 8px;
  margin-bottom: 8px;
}
.ant-row-rtl #components-dropdown-demo-placement .ant-btn {
  margin-right: 0;
  margin-bottom: 8px;
  margin-left: 8px;
}

.headerSize {
  padding: 0 !important;
  margin: 0 !important;

  display: flex;
  justify-content: flex-end;
  gap: 14px;
  align-items: center;
}

.headerSize img {
  width: 36px;
  height: 36px;
}

.userPosition {
  margin-top: 18px;
  color: white;
}
