.mainDiv {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  background: #44475a;
  color: #f8f8f2;
  height: 100%; /* Ocupa 100% da altura da viewport */
  /* width: 100vw; */ /* Ocupa 100% da largura da viewport */
  margin: 0; /* Remove margens */
  padding: 0; /* Remove preenchimentos */
  box-sizing: border-box; /* Inclui bordas e preenchimentos no tamanho total */
}
